:root {
  --white: #ffffff;
  --black: #000000;
  --primary-blue: #07283F;
  --secondary-blue: #30485E;
  --medium-gray: #BCCEDD;
  --dark-gray: #6D8095;
  --light-gray: #F5F7FB;
  --base-light: #FCFBFE;
  --base: #FDFCFF;
}
