.animated {
    transform: translateY(100px);
    transition: transform 1s ease, opacity 1s ease;
}

.animated.fadeIn {
    transform: translateY(0);
}

.underline__animation:hover {
    animation-name: underline-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes underline-animation {
    0% {
        background: linear-gradient(currentColor, currentColor);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 0 2px; 
    }

    100% {
        background: linear-gradient(currentColor, currentColor);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100% 2px; 
    }
}
