body,
html {
    font-size: 16px;
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: var(--font-family);
}

h1 {
    font-size: 45px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 35px;
    font-weight: var(--font-weight-medium);
}

h3 {
    font-size: 28px;
    font-weight: var(--font-weight-medium);
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 25px;
    font-weight: var(--font-weight-medium);
    font-family: 'Montserrat', sans-serif;
}

@media (min-width: 1024px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 45px;
    }

    h4 {
        font-size: 30px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: var(--third);
    font-size: 16px;
    line-height: 1.438;
    font-weight: var(--font-weight-light);
    font-family: var(--font-family);
    letter-spacing: -0.25px;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding: 0;
}


blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

textarea,
input {
    border: 1px solid var(--secondary);
    padding-left: 10px;
    min-height: 40px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    font-size: 15px;
}

textarea::placeholder,
input::placeholder {
    color: var(--black);
    font-weight: var(--font-weight-medium);
    font-family: var(--font-family);
    font-size: 15px;
}

textarea {
    padding-top: 20px;
}

textarea:focus,
input:focus {
    outline: none;
}

input[type="submit"] {
    cursor: pointer;
    color: var(--white);
    font-weight: var(--font-weight-normal);
    font-family: var(--font-family);
    background-color: var(--secondary);
    border: 0;
    border-radius: 0;
    min-height: 40px;
    min-width: 200px;
    transition: background-color .3s ease;
}

input[type="submit"]:hover {
    background-color: var(--third);
}

.text-align-center {
    text-align: center;
}

.section-title {
    color: var(--third);
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.visually-hidden {
    display: none;
}
